body {
  background-color: lightblue;
}
.container {
  background-color: white;
  border: 1px solid lightgray;
  border-top: 0;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

[ng-click] {
  cursor: pointer;
}
.nav-tabs {
  margin-bottom: 1em;
}
[readonly] .form-group {
  margin-bottom: 0;
}
.show-on-hover-wrapper .show-on-hover {
  opacity: 0;
}
.show-on-hover-wrapper:hover .show-on-hover {
  opacity: 1;
}
.btn + .btn {
  margin-left: 5px;
}

ul.ingredients {
  list-style: none;
  padding-left: 1em;
}

#stats {
  svg.categories text {
    fill: white;
  }

  ul.category-percents {
    list-style: none;
    padding-left: 1em;

    /* gradient the opacity */
    //li { .opa(1); .opa(2); .opa(3); .opa(4); .opa(5); .opa(6); .opa(7); .opa(8); }
    //.opa(@i) {
    //  &:nth-child(@{i}) {
    //    opacity: (9-@i)/8;
    //  }
    //}
  }
}
