<html>
<head>
  <title>Cake Magic</title>

  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="app.css">

  <script src="vendor/lodash/dist/lodash.min.js"></script>
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="vendor/angular/angular.js"></script>
  <script src="vendor/angular-hotkeys/angular-hotkeys.min.js"></script>
  <script src="vendor/angular-resource/angular-resource.js"></script>
  <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="vendor/d3/d3.js"></script>
  <script src="templates.js"></script>
  <script src="cake-magic.js"></script>
</head>
<body ng-app="cake-magic">
  <div class="container">
    <h1>Cake Magic</h1>

    <ul class="nav nav-tabs" data-ng-model="site.tab">
      <li value="stats"><a href="#">Stats</a></li>
      <li value="search"><a href="#">Search</a></li>
      <li value="table"><a href="#">All Cakes</a></li>
      <!--<li value="categories"><a href="#">Categories</a></li>-->
    </ul>
    <div ng-switch="site.tab">
      <div ng-switch-when="stats"><div ng-include="'cake/cakesStats.html'" ng-controller="cakes-stats"></div></div>
      <div ng-switch-when="search"><div ng-include="'cake/cakesSearch.html'" ng-controller="cakes-search"></div></div>
      <div ng-switch-when="table"><div ng-include="'cake/cakesTable.html'" ng-controller="cakes-table"></div></div>
      <div ng-switch-when="categories"><div ng-include="'category/categories.html'" ng-controller="categories"></div></div>
    </div>
  </div>
</body>
</html>
