<ul>
  <li ng-repeat="c in categories">
    <span ng-bind="c.name"></span>
    <span ng-if="c.count">(<span ng-bind="c.count"></span>)</span>
  </li>
</ul>

<!-- the categories are basically done -->
<form class="input-group" ng-submit="create()" ng-if="false">
  <input class="form-control" placeholder="New Category" ng-model="input.name" ng-disabled="!input" />
  <span class="input-group-addon" ng-click="create()"><i class="fa fa-plus"></i></span>
</form>
