<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">
    <span ng-if="input.id && !input.locked">Update</span>
    <span ng-if="!input.id">Create</span>
    Cake
    <span ng-if="input.id && input.locked">Info</span>
    <span ng-if="input.locked" ng-click="input.locked=false;"><i class="fa fa-lock"></i></span>
  </h3>
  </div>
  <form class="panel-body form-horizontal" data-ng-readonly="input.locked">

    <div class="form-group">
      <label class="control-label col-sm-4" for="name">Name</label>
      <div class="col-sm-8" ng-if="!input.locked">
        <input class="form-control" type="text" name="name" id="name" ng-model="input.name" />
      </div>
      <div class="col-sm-8" ng-if="input.locked">
        <p class="form-control-static" ng-bind="input.name"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="category">Category</label>
      <div class="col-sm-8" ng-if="!input.locked">
        <select class="form-control" name="category" id="category" ng-model="input.categoryId"
          ng-options="c.id as c.name for (ignore, c) in categories"></select>
      </div>
      <div class="col-sm-8" ng-if="input.locked">
        <p class="form-control-static" ng-bind="categories[input.categoryId].name"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="date">Date</label>
      <div class="col-sm-8" ng-if="input.skip && !input.date">
        <p class="form-control-static">Never</p>
      </div>
      <div class="col-sm-8" ng-if="(!input.skip || input.date) && !input.locked">
        <input class="form-control" type="date" name="date" id="date" ng-model="input.date" />
      </div>
      <div class="col-sm-8" ng-if="(!input.skip || input.date) && input.locked">
        <p class="form-control-static" ng-bind="input.date | date"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="rating">Rating</label>
      <div class="col-sm-8" ng-if="!input.locked">
        <button class="btn"
               ng-repeat="(ignore, r) in ratings"
               ng-click="input.rating = r.id"
               ng-class="{ 'btn-default': input.rating !== r.id, 'btn-info': input.rating === r.id }">
          <i class="fa fa-lg" ng-class="r.icon"></i>
          <span ng-bind="r.text"></span>
        </button>
      </div>
      <div class="col-sm-8" ng-if="input.locked">
        <p class="form-control-static">
          <i class="fa fa-lg" ng-class="ratings[input.rating].icon"></i>
          <span ng-bind="ratings[input.rating].text"></span>
        </p>
      </div>
    </div>

    <div class="form-group" ng-if="!input.locked || input.notes">
      <label class="control-label col-sm-4" for="notes">Notes</label>
      <div class="col-sm-8" ng-if="!input.locked">
        <textarea class="form-control" name="notes" id="notes" ng-model="input.notes"></textarea>
      </div>
      <div class="col-sm-8" ng-if="input.locked">
        <p class="form-control-static" ng-bind="input.notes"></p>
      </div>
    </div>

    <div class="form-group" ng-if="!input.locked || input.skip">
      <label class="control-label col-sm-4" for="skip">Skip</label>
      <div class="col-sm-8" ng-if="!input.locked">
        <p class="form-control-static"><input type="checkbox" name="skip" id="skip" ng-model="input.skip" /></p>
      </div>
      <div class="col-sm-8" ng-if="input.locked">
        <p class="form-control-static" ng-bind="input.skip?'Yuck':'Yum'"></p>
      </div>
    </div>

    <div class="form-group" ng-if="!input.locked">
      <div class="col-sm-4"></div>
      <div class="col-sm-8">
        <button class="btn btn-primary" ng-click="doCreate()" ng-if="!input.id" ng-disabled="!canCreate()">Create</button>
        <button class="btn btn-primary" ng-click="doUpdate()" ng-if="input.id" ng-disabled="!canUpdate()">Update</button>
        <button class="btn btn-warning" data-are-you-sure="doLock()" ng-if="input.id" ng-disabled="!canUpdate()">Lock <i class="fa fa-lock"></i></button>
      </div>
    </div>

  </form>
</div>
