<form class="form-inline">
  <div class="form-group has-feedback">
    <input type="text" class="form-control" ng-model="filterText" />
    <span class="glyphicon glyphicon-filter text-muted form-control-feedback"></span>
  </div>
  <select class="form-control" ng-model="filter.categoryId" ng-change="refresh()"
          ng-options="c.id as c.name for (i, c) in categories">
    <option value="">All Categories</option>
  </select>
  <span class="btn" ng-click="toggleYuck()"
        ng-class="showYuck()?'btn-warning':'btn-default'"
        ng-bind="showYuck()?'All Cakes':'Yummy Cakes'"></span>
  <span>Listed: <span ng-bind="displayList.length"></span></span>
</form>
<table class="table">
  <thead><tr>
    <th th-order-by="name" data-ng-model="nested.order">Name</th>
    <th>Category</th>
    <th th-order-by="date" data-ng-model="nested.order">Date</th>
    <th></th>
    <th></th>
  </tr></thead>
  <tbody><tr ng-repeat="c in displayList=(list | filter: filterText | orderBy: nested.order)"
             ng-click="select(c)" ng-class="{'info': c === nested.selection, 'active': c.locked, 'warning': c.skip}">
    <td ng-bind="c.name"></td>
    <td ng-bind="categories[c.categoryId].name"></td>
    <td ng-if="c.skip && !c.date">Never</td>
    <td ng-if="!c.skip || c.date" ng-bind="c.date | date"></td>
    <td><span ng-bind="c.skip?'Yuck':'Yum'"></span> <i ng-if="c.rating!==0" class="fa fa-lg" ng-class="ratings[c.rating].icon"></i></td>
    <td><i class="fa fa-lock" ng-if="c.locked"></i></td>
  </tr></tbody>
</table>

<div cake ng-if="nested.selection" data-ng-model="nested.selection"></div>
<div cake ng-if="false"></div>
