<div id="stats">
  <div class="progress" data-percent="overallPercent"></div>
  <svg class="pull-left categories" width="500" height="500"
       donut-chart data-outer="outerPie" data-inner="innerPie">
  </svg>
  <ul class="pull-left category-percents">
    <li ng-repeat="p in percents | orderBy: 'percent'">
      <label class="label" ng-class="suggested[p.category]?'label-primary':'label-default'" ng-click="searchByCategory(p)">
        <span ng-bind="p.category"></span>
        <span ng-bind="p.percent"></span>%
      </label>
    </li>
  </ul>
</div>
